In [17]:
import pandas as pd
from surprise.prediction_algorithms.random_pred import NormalPredictor
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise.prediction_algorithms.matrix_factorization import SVD
from surprise.prediction_algorithms.knns import KNNWithMeans
from surprise.prediction_algorithms.slope_one import SlopeOne

In [12]:
beer_ids_for_prediction = pd.read_csv('../data/beer_ids_for_prediction.csv', index_col=0)

In [19]:
train

         Unnamed: 0 review_profilename  beer_beerid  review_overall
0                 0            stcules        47986               3
1                 1            stcules        48213               6
2                 2            stcules        48215               6
3                 3            stcules        47969               6
4                 4     johnmichaelsen        64883               8
...             ...                ...          ...             ...
1138853     1518470    blitheringidiot        33061              10
1138854     1518471             PopeDX        33061              10
1138855     1518472    treehugger02010        33061               7
1138856     1518474          yelterdow        33061               8
1138857     1518475           TongoRad        33061               9

[1138858 rows x 4 columns]

In [20]:
test = pd.read_csv('../data/test.csv', index_col=0)
train = pd.read_csv('../data/train.csv', index_col=0)

reader = Reader(rating_scale=(1, 10))
suprise_train = Dataset.load_from_df(train, reader)
full_trainset = suprise_train.build_full_trainset()

algo=SlopeOne
algo.fit(full_trainset)

beers_key = pd.read_csv('../data/beers_key.csv', index_col=0)
beer_ids_for_prediction = pd.read_csv('../data/beer_ids_for_prediction.csv', index_col=0)


beer_ids_for_prediction['user'] = user

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

NameError: name 'algo' is not defined

In [ ]:
def fit_to_trainset(algo):
    from surprise import Reader
    
    test = pd.read_csv('../data/test.csv')
    train = pd.read_csv('../data/train.csv')

    reader = Reader(rating_scale=(1, 10))
    suprise_train = Dataset.load_from_df(train, reader)
    full_trainset = suprise_train.build_full_trainset()
    
    return algo.fit(full_trainset), print('Fit complete.')

In [10]:
def recommend(algo, user):
    '''
    Parameters:
        pre-fit model
        username
    Returns:
        Top 5 recommended beers for that user
    '''
    beers_key = pd.read_csv('../data/beers_key.csv', index_col=0)
    beer_ids_for_prediction = pd.read_csv('../data/beer_ids_for_prediction.csv', index_col=0)
    test = pd.read_csv('../data/test.csv')
    train = pd.read_csv('../data/train.csv')
    
    beer_ids_for_prediction['user'] = user
    
    # fit algo on train set (surprise trainset object)
    # add user to beer_ids_for_prediction
    # run algo.predict on beer_ids_for_prediction
    # sort results, return top 5 beerids
    # translate beer ids to beer names
    # return beer names

In [14]:
beer_ids_for_prediction['user'] = 'me'
beer_ids_for_prediction

        user  beer_id  predicted_rating
0         me    47986                 0
1         me    48213                 0
2         me    48215                 0
3         me    47969                 0
4         me    64883                 0
...      ...      ...               ...
1518459   me    41749                 0
1518461   me    38160                 0
1518462   me    71234                 0
1518463   me    43233                 0
1518464   me    33061                 0

[49000 rows x 3 columns]